<!doctype html>
{% load static %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'general/button.css' %}">
    <link rel="stylesheet" href="{% static 'general/font.css' %}">
    <link rel="stylesheet" href="{% static 'general/module.css' %} ">
    <link rel="stylesheet" href="{% static 'general/table.css' %} ">
    <link rel="stylesheet" href="{% static 'general/translate.css' %} ">
    <base target="_blank"/>
    <title>注册用户</title>
  </head>
  <body>

    <!--用户栏-->
    <div class="user">
      <div class="in">
        <div class="left">
          <h1>辅助翻译</h1>
        </div>
        <div class="right">
          <div><button>帮助</button></div>
        </div>
      </div>
    </div>
    
    <!--工具栏-->
    <div class="tool disable">
      <div class="in">
        <div class="left">
          <div class="left">
            <div><button>导入</button></div>
          </div>
          <div class="right">
            <div><button>置顶</button></div>&ensp;
            <div><button>改名</button></div>&ensp;
            <div><button>复制</button></div>&ensp;
            <div><button>导出</button></div>&ensp;
            <div><button class="red">删除</button></div>
          </div>
        </div>
        <div class="right">
          <div><button class="bank tech">术语库</button></div>&ensp;
          <div><button class="bank memo">记忆库</button></div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="in">

        <!--欢迎界面-->
        <div class="left">
          <div class="box">
            <div class="welcome">
             <form action="{% url 'regist' %}" method="post">
                {% csrf_token %}
                <h3>注册用户</h3>
                <div><input placeholder="用户名" name = "username"></div>
                <div><input placeholder="密码" type="password" name = "password"></div>
                <div><button class="highlight" type="submit">注册</button></div>
              </form>
            </div>           
          </div>
        </div>

        <!--搜索栏-->
       <div class="right disable">
          <div class="profile empty"></div>
          <div class="name">
            <h3>未登录</h3>
            <div class="introduction">未登录</div>
          </div>
          <div><button class="long">编辑资料</button></div>
          <hr>
          <div><button class="long red">清空编辑记录</button></div>
          <div><button class="long red">注销账户</button></div>
          <div><button class="long red">退出登录</button></div>
          <hr>
          <h4>搜索</h4>
          <div><button class="long info">搜索</button></div>
        </div>
      </div>
    </div>
  </body>
</html>