/*各种按钮*/
button
{
    font-size: 14px;
    color: #4f4f4f;
    text-align: center;

    width: 48px;
    height: 28px;
    margin-bottom: 8px;

    background-color: #fff;
    border: solid #9A9A9A;
    border-radius: 5px;
}

button:hover
{
    background-color: #EFEFEF;
    border: solid #4f4f4f
}

button:active
{
    background-color: #DBDBDB;
    border: solid #000;
}

.disable button
{   
    pointer-events: none;

    color: #9A9A9A;

    border: solid #DBDBDB;
}

/*记忆库按钮*/
button.bank
{
    width: calc(((100vw - 200px) * 0.3 - 25px - 25px) / 2);
    min-width: calc(((1200px - 200px) * 0.3 - 25px - 25px) / 2);
    max-width: calc(((3840px - 200px) * 0.3 - 25px - 25px) / 2);
}

/*长按钮，用于右栏*/
button.long
{
    width: calc((100vw - 200px) * 0.3 - 25px - 50px);
    min-width: calc((1200px - 200px) * 0.3 - 25px - 50px);
    max-width: calc((3840px - 200px) * 0.3 - 25px - 50px);
}

/*展示信息的框，比如搜索框*/
button.info
{
    text-align: left;
}

/*中等长度的按钮，长度为长按钮的一半*/
button.mid
{
    width: calc(((100vw - 200px) * 0.3 - 25px - 50px - 25px) / 2);
    min-width: calc(((1200px - 200px) * 0.3 - 25px - 50px - 25px) / 2);
    max-width: calc(((3840px - 200px) * 0.3 - 25px - 50px - 25px) / 2);
}

/*删除和警告按钮*/
button.red
{
    color: #BD3124;

    border: solid #BD3124;
}

/*术语库和记忆库按钮*/
button.tech:hover,
button.red:hover
{
    color: #FFF;
    
    background-color: #BD3124;
    border: #BD3124;
}

button.tech:active,
button.red:active
{
    color: #FFF;
    
    background-color: #96271D;
    border: #96271D;
}

button.memo:hover
{
    color: #FFF;
    
    background-color: #FACD18;
    border: #FACD18;
}

button.memo:active
{
    color: #FFF;
    
    background-color: #E0AC00;
    border: #E0AC00;
}

/*高亮按钮，比如注册按钮*/
button.highlight
{
    color: #F08502;
    border: solid #F08502;
}


button.highlight:hover
{
    color: #FFF;

    background-color: #F08502;
    border: solid #F08502;
}

button.highlight:active
{
    background-color: #CA7002;
    border: #CA7002;
}

/*三个字的按钮*/
button.triple
{
    width: 64px;
}