*
{
    box-sizing: border-box;
}

.user.tech
{
    background: linear-gradient(0.25turn, #BD3124 30%, #FFF 70%);
}

.user.memo
{
    background: linear-gradient(0.25turn, #FACD18 30%, #FFF 70%);
}

.tech .right h1,
.memo .right h1
{
    color: #4F4F4F;
}

/*术语库表格*/
.tech th:nth-child(2)
{
    width: calc(((100vw - 200px) * 0.7 - 100px - 100px) * 0.4);
}

.tech th:nth-child(3),
.tech th:nth-child(4),
.tech th:nth-child(5)
{
    width: calc(((100vw - 200px) * 0.7 - 100px - 100px) * 0.2);
}

/*记忆库表格*/
.memo th:nth-child(2),
.memo th:nth-child(3)
{
    width: calc(((100vw - 200px) * 0.7 - 100px - 30px) * 0.35);
}

.memo th:nth-child(4)
{
    width: calc(((100vw - 200px) * 0.7 - 100px - 30px) * 0.3);
}

.page th:nth-child(1)
{
    width: 30px;
}

/*记忆库、术语库详情表格*/
.page th:nth-child(1)
{
    width: 100px;
}

.page th:nth-child(2),
.page th:nth-child(3)
{
    width: calc(((100vw - 200px) * 0.7 - 100px - 100px) * 0.35);
}

.memo th:nth-child(4)
{
    width: calc(((100vw - 200px) * 0.7 - 100px - 100px) * 0.3);
}

/*带页面选择栏的box*/
.page > .box
{
    height: calc(100% - 25px - 60px);
    min-height: calc(675px - 200px - 25px - 25px - 60px);

    margin-bottom: 16px;
}