button
{
    font-size: 14px;
    color: #4f4f4f;
    text-align: center;

    width: 48px;
    height: 28px;
    margin-bottom: 8px;

    background-color: #fff;
    border: solid #9A9A9A;
    border-radius: 5px;
}

button:hover
{
    background-color: #EFEFEF;
    border: solid #4f4f4f
}

button:active
{
    background-color: #DBDBDB;
    border: solid #000;
}

/*记忆库按钮*/
.bank
{
    width: calc(((100vw - 200px) * 0.3 - 25px - 25px) / 2);
    min-width: calc(((1200px - 200px) * 0.3 - 25px - 25px) / 2);
    max-width: calc(((3840px - 200px) * 0.3 - 25px - 25px) / 2);
}

/*长按钮，用于右栏中的搜索框*/
.long
{
    text-align: left;

    width: calc((100vw - 200px) * 0.3 - 25px - 50px);
    min-width: calc((1200px - 200px) * 0.3 - 25px - 50px);
    max-width: calc((3840px - 200px) * 0.3 - 25px - 50px);
}

/*中等长度的按钮，用于保存到库*/
.mid
{
    width: calc(((100vw - 200px) * 0.3 - 25px - 50px - 25px) / 2);
    min-width: calc(((1200px - 200px) * 0.3 - 25px - 50px - 25px) / 2);
    max-width: calc(((3840px - 200px) * 0.3 - 25px - 50px - 25px) / 2);
}

/*术语库和记忆库按钮*/
.tech:hover
{
    color: #FFF;
    
    background-color: #C20000;
}

.tech:active
{
    color: #FFF;
    
    background-color: #8F0000;
}

.memo:hover
{
    color: #FFF;
    
    background-color: #FACD18;
}

.memo:active
{
    color: #FFF;
    
    background-color: #E0AC00;
}