/*最小尺寸：1200x675；最大尺寸：3840x2160*/
*
{
    box-sizing: border-box;
}

/*背景板*/
body
{
    margin: 0;
    background-color: #DBDBDB;
}

/*用户栏*/
.user
{
    display: flex;

    width: 100vw;
    min-width: 1200px;
    height: 50px;
    padding-left: 100px;
    padding-right: 100px;

    background: linear-gradient(0.25turn, #F08502, 70%, #FACD18);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);
}

/*in用于保持居中*/
.user > .in
{
    color: #fff;
    font-size: 22px;;
    line-height: 50px;

    width: calc(100vw - 200px);
    min-width: calc(1200px - 200px);
    max-width: calc(3840px - 200px);
    height: 50px;
    margin: auto;
}

/*工具栏*/
.tool
{
    display: flex;

    width: calc(100vw - 50px);
    min-width: 1150px;
    height: 50px;
    padding-left: 75px;
    padding-right: 75px;
    margin-left: 25px;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .2);
}

.tool > .in
{
    color: #9A9A9A;
    font-size: 22px;
    font-weight: lighter;

    line-height: 50px;
    width: calc(100vw - 50px - 150px);
    min-width: calc(1200px - 50px - 150px);
    max-width: calc(3840px - 50px - 150px);
    height: 50px;
    margin: auto;
}

.right
{
    float: right;
}

.left,
.right,
.left > div,
.right > div
{
    display: inline-block;
}

.tool > .in >.left
{
    width: calc((100vw - 200px) * 0.7);
    min-width: calc((1200px - 200px) * 0.7);
    max-width: calc((3840px - 200px) * 0.7);
}

.tool > .in > .right
{
    height: 50px;
}

/*主页框，分为左右两侧*/
.main
{
    display: flex;
    
    width: calc(100vw - 200px);
    min-width: calc(1200px - 200px);
    height: calc(100vh - 50px * 2);
    min-height: calc(675px - 200px);
    margin-left: 100px;
}

.main > .in
{
    width: calc(100vw - 200px);
    min-width: calc(1200px - 200px);
    max-width: calc(3840px - 200px);
    height: calc(100vh - 50px * 2);
    min-height: calc(675px - 200px);
    margin: auto;
}

.main > .in > .left
{
    display: inline-block;

    width: 70%;
    min-width: calc((1200px - 200px) * 0.7);
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top:25px;

    background-color: #EFEFEF;
    border: solid #BEBEBE;
}

/*左栏里面的框*/
.box
{
    text-align: center;

    width: 100%;
    height: calc(100% - 25px);
    min-height: calc(675px - 200px - 25px - 25px);
    padding-left: 25px;
    padding-top: 8px;
    
    background-color: #FFF;
    border: solid #9A9A9A;
    border-radius: 5px;
}

.main > .in > .right
{
    width: calc(30% - 25px);
    min-width: calc((1200px - 200px) * 0.3 - 25px);
    height: calc(100% - 25px);
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;

    background-color: #EFEFEF;
    border: solid #BEBEBE;
}

/*搜索栏标题*/
h3
{
    font-size: 28px;
    color: #F08502;

    margin-top: 0;
    margin-bottom: 8px;
}