.result
{
    text-align: center;

    width: 350px;
    height: 400px;

    background-color: #FFF;
    border: solid #9A9A9A;
    border-radius: 5px;
}

/*搜索栏标题*/
h3
{
    font-size: 42px;
    color: #F08502;

    margin-top: 8px;
    margin-bottom: 8px;
}



.translate_box > div
{
    display: inline-block;
}

.scroll
{
    width: 6px;
    height: 800px;
    background-color: #F08502;
    border-radius: 5px;
}

.source
{
    box-sizing: border-box;

    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    
    width: 480px;
    height: 935px;
    padding: 25px;
}

.translated
{
    color: #4f4f4f;
}

.translating
{
    color: #000;
}

.untranslated
{
    color: #DBDBDB;
}

.divider
{
    width: 1px;
    height:885px;   /*不知道为什么，但这样就不会出头*/
    border-left: dashed #9A9A9A;
    margin-top: 0px;
}

.target
{
    box-sizing: border-box;

    font-size: 28px;
    
    width: 480px;
    height: 935px;
    padding: 25px;
}